/* public/style.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

canvas {
  border: 1px solid #333;
  margin-top: 20px;
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

button {
  padding: 10px;
  margin: 0 10px;
}

#page-info {
  font-weight: bold;
}
